body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 45px;
}

.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
  padding-top: 150px;
}

.box {
  width: 50%;
  padding-left: 2%;
}

.box img {
  max-width: 80%;
}

.link-button {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 40px;
  background-image: linear-gradient(orange, tomato);
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

.top-bannar {
  background-image: url("./images/top-banner.png");
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url("./images/dream-bg.png");
  background-position: right;
  background-repeat: no-repeat;
}

.box-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 2px 10px 40px gray;
  border-radius: 10px;
  padding: 10px;
}
.box-item:last-child {
  border-left: 9px solid blue;
}

.box-item:first-child {
  border-left: 9px solid #28b9e5;
}

h2 {
  font-size: 35px;
}

.experiance {
  background-image: url("./images//exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 150px;
}

footer {
  padding-top: 150px;
}

footer p {
  text-align: center;
}
